
@{
    ViewData["Title"] = "GetCv";
}

@section Styles
    {

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Template1ClassicCV.css">
}




<div class="my-4 py-4">
    <div class="cv-container">
        <div class="section">
            <div class="section-content-1">
                <div class="contact-info">
                    <h2 class="section-header">Md. XYZ</h2>
                    <p><strong>Email:</strong> exe.test@gmail.com</p>
                    <p><strong>Contact:</strong> +8801711111111</p>
                    <p><strong>Skype:</strong> jalal.test</p>
                    <p>
                        <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/jalal-test-123456789/">https://www.linkedin.com/in/jalal-test-123456789/</a>
                    </p>
                    <p><strong>Residential Address:</strong> House 11, Road 11, Mirpur, Dhaka, Bangladesh</p>
                </div>
                <div class="col-md-4">
                    <img src="~/CandidateSampleImage/sample-picture-candidate.png" alt="Candidate Image" class="img-fluid img-thumbnail candidate-image">
                </div>
            </div>
            <!-- New section for Professional Summary -->
            <div class="section-content-2">
                <p><strong>Professional Summary</strong></p>
                <hr class="border border-primary border-2">
                <div>
                    An experienced person over 7 years of experience, skilled in software development, implementation
                    and management. I work well under pressure and consistently meets deadlines and targets while
                    delivering high quality work. Last but not the least, as a self-motivated person who consistently
                    exceeds customer expectations and develops cost-effective solutions to complex problems and has
                    willingness to learn in making an Organization successful.
                </div>
            </div>
            <!-- New section for Language,FrameWork and other skills -->
            <div class="section-content-3 mt-4">
                <p style="font-size: 18px;"><strong>Language, Framework, Tools and Other Skills</strong></p>
                <hr class="border border-primary border-2">
                <div class="row">
                    <div class="col-md-6 print-column">
                        <ul class="small">
                            <li>.Net Core, Web API, NodeJs</li>
                            <li>Asp.net, .Net MVC</li>
                            <li>C#, VB.Net</li>
                            <li>LINQ, SQL, Entity Framework and MongoDB</li>
                            <li>Angular 6, Angular 1 and MEAN Stack</li>
                            <li>Javascript, JQuery and Ajax</li>
                        </ul>
                    </div>
                    <div class="col-md-6 print-column">
                        <ul class="small">
                            <li>Bootstrap CSS, HTML</li>
                            <li>Crystal and RDLC Report</li>
                            <li>Design Pattern & Principles, OOP Software Design & Architecture</li>
                            <li>TFS, GIT, V. SourceSafe, Trello, Agile, SCRUM</li>
                            <li>Visual Studio 2017, SQL Server 2016, Visual Studio code</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- New section for Working Experience  -->
            <div class="section-content-4 mt-1">
                <p style="font-size: 18px;"><strong>Working Experience</strong></p>
                <hr class="border border-primary border-2">
            <div class="row">
                <div class="col-md-12">
                    <h5><strong>Senior Software Engineer</strong></h5>
                    <p>
                        <span style="float: left;">B Green Limited. – Sankar, Dhanmondi, Dhaka -1209</span>
                        <span style="float: right;">08/2018 to present</span>
                        <div style="clear: both;"></div>
                    </p>
                    <ul class="text-justify">
                        <li>
                            Develop enterprise software solutions by studying information needs, conferring
                            with users, studying system flow and work processes, investigating problem
                            areas, following the software development life cycle.
                        </li>
                        <li>
                            Determine operational feasibility by evaluating analysis, problem definition,
                            requirements, solution development and proposed solutions.
                        </li>
                        <li>
                            Document and demonstrate solutions by developing documentation, flowcharts,
                            layouts, diagrams etc.
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 mt-3">
                    <h5><strong>Senior Software Engineer (.Net)</strong></h5>
                    <p>
                        <span style="float: left;">
                            Hello Solutions Ltd. – BDBL Bhaban (6th Floor), Kawran Bazar, Dhaka 1215
                        </span>
                        <span style="float: right;">07/2017 to 06/2018</span>
                        <div style="clear: both;"></div>
                    </p>
                    <ul class="text-justify">
                        <li>
                            Gathering information, user requirement analysis for developing high-quality Application.
                        </li>
                        <li>Planning, design, built and release to TFS server for testing.</li>
                        <li>Review, Modify and debug Code and Integration.</li>
                        <li>Collaborate with Internal team.</li>
                        <li>
                            Communications with the foreign Clients to identify, understand the daily task
                            and other functional dependencies.
                        </li>
                    </ul>
                </div>
                <div class="col-md-12 mt-3">
                    <h5><strong>Senior Officer (Application)</strong></h5>
                    <p>
                        <span style="float: left;">
                            RAD (Bangladesh) Ltd. – Savar Old EPZ, Ganakbari, Dhaka 1349
                        </span>
                        <span style="float: right;">10/2015 to 07/2017</span>
                        <div style="clear: both;"></div>
                    </p>
                    <ul class="text-justify">
                        <li>
                            Communications with the end users, gathering information, user requirement analysis.
                        </li>
                        <li>
                            Analysis, plan, design, built, test and deploy scalable, highly available and modular software products.
                        </li>
                        <li>
                            Modify existing code to correct errors or adding new facilities as per the customer requirements.
                        </li>
                        <li>
                            Debug to identify the coding problems and draft comprehensive reports to document bugs and design flaws.
                        </li>
                        <li>
                            Implementation of ERP and Production related system software.
                        </li>
                    </ul>
                </div>



                <!-- Repeat the same structure for other entries -->
            </div>


            </div>
            <!-- New section for Industrial / Personal Application Projects  -->
            <div class="section-content-5 mt-4">
                <p style="font-size: 18px;"><strong>Industrial / Personal Application Projects</strong></p>
                <hr class="border border-primary border-2">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th style="width: 40%;">Company Name / Personal</th>
                                    <th style="width: 60%;">Application Project Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>ABC Ltd.</strong></td>
                                    <td>
                                        <strong>
                                            ERP (ISP Billing, Cloud Billing, Accounting, Inventory
                                            etc.)
                                        </strong><br>
                                        This ERP project basically concentrates on ISP business and includes customer
                                        management, customer care management, product management, financial management,
                                        logistics & inventory management, order management & ISP billing collection,
                                        Cisco Cloud billing, accounting, sales CRM, etc.<br>
                                        <strong>Language/Tools:</strong> .Net Core Web API, SQL Server 2016, Angular 6
                                    </td>
                                </tr>
                                <!-- 2nd row -->
                                <tr>
                                    <td><strong>Personal</strong></td>
                                    <td>
                                        <strong>
                                            Hotel Management System<br>
                                            Language/Tools: Asp.net, C#, SQL Server 2008, Crystal Report 9, JavaScript.
                                            <br>

                                            Online Restaurant Management System Language/Tools: PHP – My SQL <br>

                                            Shopping Application with Admin Panel (Ongoing) Language/Tools: MEAN Stack
                                            and MERN stack

                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- New section for Professional Training  -->
            <div class="section-content-6 mt-4">
                <p style="font-size: 18px;"><strong>Professional Training</strong></p>
                <hr class="border border-primary border-2">
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            <li>
                                Workshop on Software Design and Architecture at Nerd Castle, BASIS, Dhaka from Feb 03 to
                                Mar 03, 2017
                            </li>
                            <li>
                                Training on AIO ERP system and its implementation at CPC, Hop Lun, China on Jan 11 to
                                Jan 21, 2016
                            </li>
                            <li>
                                Training on Object Oriented Programming on .Net at BASIS, Dhaka from Nov 2009 to Feb
                                2010
                            </li>
                            <li>
                                Industrial Training on J2EE at DPS pvt. Ltd, Kolkata, India from June 2007 to July 2007
                            </li>
                            <li>
                                Red Hat Certified Technician (RHCT) at Micropo pvt. ltd, Kolkata, India from June 2006
                                to July 2006
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- New section for Education -->
            <div class="section-content-7 mt-4">
                <p style="font-size: 18px;"><strong>Education</strong></p>
                <hr class="border border-primary border-2">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-borderless">
                            <thead>
                                <tr>
                                    <th style="width: 70%;"></th>
                                    <th style="width: 30%;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Master of Science in Computer Science (90%) Asian University, Dhaka,
                                        Bangladesh
                                    </td>
                                    <td style="text-align: right;">
                                        2005
                                    </td>
                                </tr>
                                <!-- 2nd row -->
                                <tr>
                                    <td>
                                        B.Sc. in Computer Science & Engineering (87%)
                                        American International University - Bangladesh
                                    </td>
                                    <td style="text-align: right;">
                                        2000
                                    </td>
                                </tr>
                                <!-- 3rd row -->
                                <tr>
                                    <td>
                                        Higher Secondary (H.S.C) in Science Group (2nd Division) Rangpur Govt.
                                        College, Rangpur
                                    </td>
                                    <td style="text-align: right;">
                                        1996
                                    </td>
                                </tr>
                                <!-- 4th row -->
                                <tr>
                                    <td>
                                        Secondary School (S.S.C) in Science Group (1st Division) Rangpur Modern Boys
                                        High School, Chittagong
                                    </td>
                                    <td style="text-align: right;">
                                        1990
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- New section for Reference -->
            <div class="section-content-8 mt-4" style="margin-bottom: 20px;">
                <p style="font-size: 18px;"><strong>Reference</strong></p>
                <hr class="border border-primary border-2">
                <div class="row">
                    <div class="col-md-6 print-column">
                        <strong>Name:</strong> Abdullah Maruf <br>
                        <strong>Designation:</strong> Chief Architect <br>
                        <strong>Company:</strong> ABCD Private Ltd. <br>
                        <strong>Address:</strong> House 1, Road 02, Block C, Section D, Mirpur 1, Dhaka 1216 <br>
                        <strong>Email:</strong> maruf@abcdltd.com <br>
                        <strong>Contact:</strong> +8801722222222
                    </div>
                    <div class="col-md-6 print-column">
                        <strong>Name:</strong> Tanvir Ahmed <br>
                        <strong>Designation:</strong> Senior Software Engineer <br>
                        <strong>Company:</strong> BD Soft Test Ltd. <br>
                        <strong>Address:</strong> ABC Tower, 9th Floor, Mogh Bazar, Dhaka 1215 <br>
                        <strong>Email:</strong> tanvir@testbd.com <br>
                        <strong>Contact:</strong> +8801817144444
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>




